html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #222;
    height: 100%;
    text-align: center;
    position: relative;
    padding: 15px;
}

.alignment-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo {
    max-height: 75%;
    max-width: 75%;
    vertical-align: middle;
}

.copyright {
    bottom: 15px;
    color: #666;
    font-size: .85em;
    right: 15px;
    position: absolute;
}

.copyright a {
    color: #666;
}

.copyright a:hover {
    color: #9C3;
}
