html, body {
    height: 100%;
    overflow: hidden;
}

body {
    align-items: center;
    background-color: #222;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    justify-content: center;
}

.logo {
    align-self: center;
    max-height: 75%;
    max-width: 75%;
}

.copyright {
    bottom: .85rem;
    color: #666;
    font-size: 0.85rem;
    right: 0.85rem;
    position: absolute;
}

.copyright a {
    color: #666;
    text-decoration: none;
}

.copyright a:hover {
    color: #9C3;
}
