/* ---------------------------------------- */
/* -----| GENERAL |------------------------ */
/* ---------------------------------------- */

#wrap {
	min-width: 960px;
	position: relative;
}


/* ---------------------------------------- */
/* -----| FOOTER |------------------------- */
/* ---------------------------------------- */

* {margin:0;padding:0;}
html, body, #wrap {height: 100%;}
body > #wrap {height: auto; min-height: 100%;}

#main {
	padding-bottom: 38px;		/* must be same height as the footer */
}

#footer {
	position: relative;
	margin-top: -38px;			/* negative value of footer height */
	min-width: 960px;
	height: 38px;
	clear:both;
}


/* ---------------------------------------- */
/* -----| MISCELLANEOUS |------------------ */
/* ---------------------------------------- */

.left {
	float: left;
	width: auto;
}

.right {
	float: right;
	width: auto;
}

.text-right {
	text-align: right;
}

/* CLEAR FIX*/
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */