/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

body {
    background-color: #161616;
    color: #EEE;
    padding-top: 70px;
}

a {
    color: #9C3;
    text-decoration: underline;
}

a:hover {
    color: #690;
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#header {
    background-color: #363636;
    border-bottom: 3px solid #9C3;
}

#siteTitle {
    color: #EEE;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 1;
    margin-right: 20px;
    padding: 12px 0;
    text-decoration: none;
}


/* -------------------------------------------------------------------------- */
/* -----| NAVIGATION |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#navigation {
    bottom: 0;
    display: inline-block;
    margin: 0;
    position: absolute;
}

#navigation li {
    display: inline-block;
    float: left;
    list-style: none;
    margin-right:8px;
}

#navigation li a {
    background-color: #212121;
    color: #EEE;
    display: block;
    font-family: monospace;
    font-size: 1.1em;
    padding: 6px 12px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #121212;
}

#navigation li a.currentPage {
    background-color: #9C3;
    color: #222;
}

/* -------------------------------------------------------------------------- */
/* -----| CONTENT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#twitchStream {
    background-color: #363636;
    border-radius: 5px;
    padding: 30px
}

#infoPane h3 {
    color: #9C3;
    font-family: monospace;
    font-size: 1.1em;
    padding: 0;
}

#infoPane p, #infoPane ul {
    font-size: .95em;
    margin-bottom: 1em;
    text-align: justify;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.footer {
    color: #555;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}

.footer a {
    color: #555;
}

.footer a:hover {
    color: #9C3;
}



/* -------------------------------------------------------------------------- */
/* -----| MISCELLANEOUS |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.phlakGreen {
    color: #9C3;
}
