/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

body {
    background-color: #161616;
    color: #EEE;
    padding-top: 70px;
}

a {
    color: #9C3;
    text-decoration: underline;
}

a:hover {
    color: #690;
    text-decoration: underline;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#header {
    background-color: #363636;
    border-bottom: 3px solid #9C3;
}

#siteTitle {
    color: #EEE;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 1;
    margin-right: 20px;
    padding: 12px 0;
    text-decoration: none;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#twitchStream {
    background-color: #363636;
    border-radius: 5px;
    padding: 30px
}

#infoPane h3 {
    border-bottom: 1px dotted #EEE;
    font-size: 1.2em;
    padding: 0;
    margin-bottom: 10px;
}

#infoPane p, #infoPane ul {
    font-size: .95em;
    text-align: justify;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.footer {
    color: #555;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
}

.footer a {
    color: #555;
}

.footer a:hover {
    color: #9C3;
}



/* -------------------------------------------------------------------------- */
/* -----| MISCELLANEOUS |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.phlakGreen {
    color: #9C3;
}
